<a href="https://colab.research.google.com/github/saurabhkr36/Network_Congestion_in_telecom_industry/blob/master/Network_congestion_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import matthews_corrcoef

In [2]:
trainset=pd.read_csv('train_upd.csv')
testset=pd.read_csv('test_upd.csv')

In [3]:
trainset.describe()

          cell_name        4G_rat  ...    cell_range          tilt
count  7.856000e+04  78560.000000  ...  78560.000000  78560.000000
mean   2.785900e+09      0.499173  ...      4.492146      3.503055
std    1.604667e+09      0.500002  ...      1.709296      1.115255
min    8.737700e+04      0.000000  ...      2.000000      2.000000
25%    1.395260e+09      0.000000  ...      3.000000      3.000000
50%    2.786354e+09      0.000000  ...      4.000000      4.000000
75%    4.172220e+09      1.000000  ...      6.000000      4.000000
max    5.555540e+09      1.000000  ...      7.000000      5.000000

[8 rows x 37 columns]

In [4]:
testset.describe()

          cell_name        4G_rat  ...    cell_range         tilt
count  2.630500e+04  26305.000000  ...  26305.000000  26305.00000
mean   2.790329e+09      0.498232  ...      4.491846      3.51112
std    1.595260e+09      0.500006  ...      1.702993      1.11164
min    4.476350e+05      0.000000  ...      2.000000      2.00000
25%    1.416926e+09      0.000000  ...      3.000000      3.00000
50%    2.776931e+09      0.000000  ...      4.000000      4.00000
75%    4.181104e+09      1.000000  ...      6.000000      4.00000
max    5.554979e+09      1.000000  ...      7.000000      5.00000

[8 rows x 37 columns]

In [5]:
def enc(k):

   if k=='4G_RAN_CONGESTION':
      return 1

   elif k=='4G_BACKHAUL_CONGESTION':
      return 2

   elif k=='3G_BACKHAUL_CONGESTION':
      return 3

   else :
      return 0

In [6]:
trainset['Congestion_Type'] = trainset['Congestion_Type'].apply(enc)

y=trainset['Congestion_Type']

In [7]:
trainset.drop(['cell_name','Congestion_Type','par_year','par_month'],axis=1,inplace=True)

In [8]:
testset.drop(['cell_name','par_year','par_month'],axis=1,inplace=True)

In [9]:
dummies=pd.get_dummies(trainset['ran_vendor'],prefix='ran_vendor')
trainset=pd.concat([trainset,dummies],axis=1)
trainset.drop(['ran_vendor'],axis=1,inplace=True)

In [10]:
dummies=pd.get_dummies(testset['ran_vendor'],prefix='ran_vendor')
testset=pd.concat([testset,dummies],axis=1)
testset.drop(['ran_vendor'],axis=1,inplace=True)

In [11]:
trainset.head()

   4G_rat  par_day  ...  ran_vendor_HUAWEI  ran_vendor_NOKIA
0       1       15  ...                  0                 0
1       1        7  ...                  0                 1
2       1        5  ...                  0                 0
3       0       16  ...                  1                 0
4       1        4  ...                  1                 0

[5 rows x 37 columns]

In [12]:
testset.head()

   4G_rat  par_day  ...  ran_vendor_HUAWEI  ran_vendor_NOKIA
0       1        8  ...                  0                 0
1       1       20  ...                  1                 0
2       1       15  ...                  1                 0
3       1        7  ...                  1                 0
4       1       11  ...                  0                 0

[5 rows x 37 columns]

In [13]:
scaler = StandardScaler()
scaler.fit(trainset)
trainset=scaler.transform(trainset)

In [14]:
scaler2 = StandardScaler()
scaler2.fit(testset)
testset=scaler2.transform(testset)

In [15]:
len(trainset)

78560

In [16]:
X_train,X_dev,y_train,y_dev=train_test_split(trainset,y,test_size=0.25,random_state=0)

In [17]:
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)
#classifier.fit(trainset, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [18]:
y_pred_dev = classifier.predict(X_dev)

In [19]:
#y_pred_test=classifier.predict(testset)

In [20]:
from sklearn.metrics import accuracy_score
acc_dev=accuracy_score(y_dev,y_pred_dev)

In [21]:
def mat(model):
   y_pred = model.predict(X_dev)
   dev=pd.Series.tolist(y_dev)
   pred=np.ndarray.tolist(y_pred)
   #print(test)
   p=matthews_corrcoef(dev,pred)
   return p

In [22]:
model = KNeighborsClassifier(n_neighbors=2)
model.fit(X_train, y_train)
scores = cross_val_score(model, trainset, y, cv=10)
print("Cross-Validation Score of model in training set: ",scores)
y_pred_dev=model.predict(X_dev)
y_pred_train=model.predict(X_train)
#print(np.ndarray.tolist(y_pred))
mcc=mat(model)
print("matthews correlation coefficient = ",mcc)
dev_set_acc=accuracy_score(y_dev, y_pred_dev, normalize=True, sample_weight=None)
train_set_acc=accuracy_score(y_train, y_pred_train, normalize=True, sample_weight=None)
print("Development set Accuracy = "+str(dev_set_acc*100)+"%")
print("training set Accuracy = "+str(train_set_acc*100)+"%")

Cross-Validation Score of model in training set:  [0.57815682 0.5785387  0.58910387 0.5871945  0.59063136 0.58681263
 0.58897658 0.58897658 0.5857943  0.58668534]
matthews correlation coefficient =  0.4666895536520587
Development set Accuracy = 58.28920570264766%
training set Accuracy = 79.62491513917176%

In [23]:
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(trainset, y)
y_pred_test=classifier.predict(testset)

In [24]:
y_pred_test=pd.DataFrame(y_pred_test)
y_pred_test.to_excel('Output.xlsx')